#header {
    height: var(--header-bar-height);
}

#navBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.link {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    padding: 0 10px;
}

.activeLink {
    color: white;
}
