#list {
    box-sizing: border-box;
    height: calc(
        100vh - var(--header-bar-height) - var(--page-top-margin) -
            var(--page-bottom-margin)
    );
    overflow: auto;
    padding-top: 0;
    padding-bottom: 0;
}

.titleColumn {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 50%;
}
.titleColumn > span {
    overflow: hidden;
    text-overflow: ellipsis;
}

.colorColumn {
    width: 20%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.typeColumn {
    width: 15%;
}
