body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #e7ebf0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.highcharts-credits {
    display: none;
}

:root {
    --header-bar-height: 64px;
    --page-top-margin: 1rem;
    --page-bottom-margin: 1rem;
}

@media (max-width: 600px) {
    :root {
        --header-bar-height: 56px;
    }
}

@media (max-width: 320px) {
    :root {
        --page-top-margin: 0;
        --page-bottom-margin: 0;
    }
}
